@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://colorhunt.co/palette/2e50774da1a979d7bef6f4f0 */
/* Color palete */
:root {
  --font-family: var(--font-kanit);
}

body
{
  background-color: #4DA1A9;
  font-family: var(--font-family), sans-serif;
}
